@import "src/@atlp/scss/variables";

.information {
    .drawer-header {
        background-color: map-get($color, "atlp-violet-base") !important;
    }
    .Information-title {
        color: map-get($color, "atlp-white") !important;
        font-size: 36px;
        font-weight: 700;
        padding-top: 40px;
        padding-left: 69px;
    }
    .Information-subtitle {
        color: map-get($color, "atlp-white") !important;
        font-size: 20px;
        font-weight: 700;
        padding-top: 20px;
        padding-left: 69px;
        font-weight: "Helvetica Neue";
    }
    .content {
        font-size: 14px;
        padding-left: 69px;
        padding-top: 20px;
        color: map-get($color, "atlp-white") !important;
        white-space: break-spaces;
        text-align: justify;
    }

    .Faq-box {
        margin-top: 20px;
        border: 1px solid map-get($color, "atlp-violet-light");
        padding: 14px;
        .faqheaderrow {
            border-bottom: 1px solid map-get($color, "atlp-violet-light");
        }
        .faq-title {
            font-size: 16px;
            color: map-get($color, "atlp-purple-light");
            width: 100%;
            padding-bottom: 11px;
            font-weight: 700;
        }
        .faqvalue {
            color: map-get($color, "atlp-white");
            font-size: 14px;
            font-weight: 500;
            padding-top: 14px;
            padding-bottom: 14px;
            border-bottom: 1px solid map-get($color, "atlp-violet-light");
        }
        .faqqstmark {
            padding-left: 6px;
            padding-right: 10px;
        }
        .faqvalue:last-child {
            border-bottom: none !important;
        }
    }

    @media screen and (max-width: 959px) and (min-width:767px){
        .drawer-header {
            position: absolute;
            top: -14.6%;
             height: 15%;
        }
        .Information-title {
            padding-left: 4px;
            font-size: 19px;
        }
        .Information-subtitle {
            padding-left: 4px;
            font-size: 16px;
        }
        .content {
            padding-left: 4px;
            font-size: 12px;
        }
    }
       @media screen and (max-width: 767px) and (min-width:560px) {
        .drawer-header {
            position: absolute;
            top: -8%;
            height: 10%;
        }
        .Information-title {
            padding-left: 4px;
            font-size: 19px;
        }
        .Information-subtitle {
            padding-left: 4px;
            font-size: 16px;
        }
        .content {
            padding-left: 4px;
            font-size: 12px;
        }
    }
       @media screen and (max-width: 559px) {
        .drawer-header {
            position: absolute;
            top: -7.8%;
            height: 8%;
        }
        .Information-title {
            padding-left: 4px;
            font-size: 19px;
        }
        .Information-subtitle {
            padding-left: 4px;
            font-size: 16px;
        }
        .content {
            padding-left: 4px;
            font-size: 12px;
        }
    }
}
.information-btn {
    padding: 18px 8px !important;
    .mat-icon {
        width: 30px;
        height: 30px;
    }

    @media screen and (max-width: 1024px) {
        padding: 0px !important;
        .mat-icon {
            width: 20px !important;
            height: 20px !important;
        }
    }
}
