@import "src/@atlp/scss/variables";

.Statistics{
.panel-title{
    font-size: 14px;
}
.pre-select-label{
    margin-right: 12px;
    color: map-get($color,  'atlp-grey-light');
    font-weight: 700;
}
.mat-slide-toggle .mat-slide-toggle-content{
      font-weight: 500;
}
.panel-row{
    margin-top: 0px;
}
.select-row{
    margin-bottom: 24px;
}
.mat-radio-outer-circle{
    width: 16px;
    height: 16px;
}
.grouping-header{
    margin-top: 20px;
}
.mat-radio-inner-circle{
     width: 16px;
    height: 16px;
}
.region-select-row{
    margin-top: 20px;
    margin-bottom: 15px;
}
.radio-title{
    padding-left:0px !important;
    margin-bottom:16px !important;
}
.mat-expansion-panel{
    margin-bottom: 20px !important;
}
.second-name1 {
    display: none;
    @media screen and (max-width:959px){
        display: inline;
    }
}
.secondName{
    display: block;
    @media screen and (max-width:959px){
        display: none;
    }

}
@media screen and (max-width:599px) {
        .field-wrap{
            margin-bottom: 12px;
        }
        .container-select{
             margin-bottom: 37px;
        }
        .dropdown-col{
            margin-bottom: 15px;
        }
}
}