.file {
    position: relative;
    &__wrap {
        padding: 15px;
        border-radius: 6px;
        min-height: 101px;
        border: 1px solid map-get($color, "atlp-purple-light");
        @media (min-width: 1360px) {
            padding: 26px 32px 26px 24px;
        }
    }
    &__icon {
        margin-right: 20px;
        .mat-icon {
            width: 41px;
            height: 43px;
            min-width: 41px;
            min-height: 43px;
        }
    }
    &__info {
        width: 100%;
        max-width: 300px;
    }
    &__title {
        font-size: 14px;
        font-weight: 500;
        color: map-get($color, "atlp-grey-light");
        margin-bottom: 9px;
        word-break: break-all;
        @media (min-width: 1024px) {
            font-size: 16px;
        }
    }
    &__time {
        font-size: 14px;
        font-weight: 500;
        color: map-get($color, "atlp-grey-light");
    }
    &__text {
        font-size: 10px;
        font-weight: 500;
        color: map-get($color, "atlp-grey-base");
        @media (min-width: 1024px) {
            font-size: 12px;
        }
    }
    &__btn {
        margin: 0 0 0 auto;
        height: 22px;
    }
}

.visually-hidden {
    height: 100% !important;
    clip: auto !important;
    z-index: 0;
    margin: 0 !important;
    border-radius: 6px !important;
    overflow: hidden;
    background-color: map-get($color, "atlp-violet-light");

    .file-upload-percentage,
    .file-preview-actions,
    .file-preview-description,
    .file-preview-thumbnail {
        opacity: 0;
    }
    .file-upload-progress-bar-wrapper {
        height: 100% !important;
    }
    .file-upload-progress-bar {
        position: relative;
        top: -1px;
        left: 2px;
        height: calc(100% + 4px) !important;
        background: map-get($color, "atlp-progress-bar") !important;
    }
    &>* {
        color: transparent !important;
    }
}

.uploader-wrapper {
    position: relative;
    width: 100vw;
    height: 80vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-wrap {
    padding: 20px;
    margin-bottom: 32px;
    border: 1px dashed map-get($color, "atlp-purple-base");
    border-radius: 6px;
    @media (min-width: 768px) {
        padding: 40px;
    }
    .mat-icon {
        width: 63px;
        height: 46px;
        min-width: 63px;
        min-height: 46px;
        margin-bottom: 23px;
    }
    .upload-title {
        font-size: 16px;
        font-weight: 700;
        color: map-get($color, "atlp-grey-light");
        margin-bottom: 16px;
        text-align: center;
    }
    .upload-text {
        font-size: 12px;
        font-weight: 500;
        color: map-get($color, "atlp-grey-base");
        text-align: center;
    }
    input {
        display: none;
    }
    label {
        display: block;
        margin-bottom: 12px;
        cursor: pointer;
        font-weight: 500;
        padding: 8px 16px;
        color: map-get($color, 'atlp-btn-basic');
        font-size: 14px;
        border: 1px solid map-get($color, 'atlp-purple-base');
        border-radius: 6px;
        background: transparent linear-gradient(180deg, #fbfbfb 0%, #eaeef4 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0.5px 2px #8c69b5;
    }
}

.upload-file-label {
    color: map-get($color, 'atlp-btn-plain-bg');
    font-size: 14px;
    display: block;
}

.upload-file-row {
    file-preview-item {
        @media (min-width: 960px) {
            width: 100% !important;
        }
    }
}

// reset styles
.file-drop-wrapper {
    background-color: transparent !important;
    padding: 0 !important;
}

.awesome-uploader {
    max-width: 100% !important;
}

.custom-drag {
    max-width: 100% !important;
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
}

file-drop {
    padding: 0 !important;
}

file-preview-container {
    background: transparent !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: flex-start;
}

file-preview-item {
    width: 100% !important;
    border: none !important;
    padding: 0 !important;
    max-width: 100% !important;
    margin-bottom: 30px;

    @media (min-width: 960px) {
        width: calc(50% - 15px) !important;
    }
}

.file-nav-upload {
    position: relative;
    z-index: 2;
    background-color: map-get($color, 'atlp-violet-base');
    .upload-text {
        font-size: 12px;
        color: map-get($color, "atlp-grey-base");
    }
    .new-file-btn {
        display: block;
        padding: 7px 16px 6px;
        color: map-get($color, "atlp-violet-base");
        font-size: 14px;
        letter-spacing: 0px;
        background-color: map-get($color, "atlp-grey-base");
        border-radius: 6px;
        margin-bottom: 10px;
        font-weight: 500;
        cursor: pointer;
    }
}

.hide-drop {
    display: none;
}