@import "src/@atlp/scss/atlp";
@import "src/@atlp/scss/variables";

atlp-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
    @media (min-width: 768px) {
        width: 260px;
    }

    &.filters-sidebar {
        overflow: visible;
        box-shadow: none;
        transform: translateX(-100%);
        &.open {
            position: relative;
            transform: translateX(0);
        }
    }

    &.sidebar-with-content {
        width: 100vw;
        position: fixed;
        background-color: transparent !important;
        box-shadow: none !important;
        transition: all 0.3s ease;
        @media (min-width: 1360px) {
            width: calc(100vw - 272px);
        }

        &.open {
            right: 0;
            transform: none !important;
            transition: all 0.3s ease;
        }
        &.sidebar-index-1 {
            .drawer-wrap {
                @media (min-width: 1024px) {
                    padding: 102px 0 0 115px;
                }
            }
        }
        &.sidebar-index-2 {
            .drawer-wrap {
                @media (min-width: 1024px) {
                    padding: 102px 0 0 140px;
                }
            }
        }
        &.sidebar-index-3 {
            .drawer-wrap {
                @media (min-width: 1024px) {
                    padding: 102px 0 0 165px;
                }
            }
        }
        &.sidebar-index-4 {
            .drawer-wrap {
                @media (min-width: 1024px) {
                    padding: 102px 0 0 190px;
                }
            }
        }

        &.active {
            .panel-nav {
                display: flex !important;
            }
        }

        .panel-nav {
            display: none !important;
        }
    }

    &.left-positioned {
        left: 0;
        transform: translateX(-100%);
        transition: all 0.3s ease;
    }

    &.right-positioned {
        right: -100%;
        transition: all 0.3s ease;
        // transform: translateX(100%);
    }

    &.open {
        transform: translateX(0);
    }

    &.locked-open {
        position: relative !important;
        transform: translateX(0) !important;
    }

    &.folded {
        position: absolute !important;
        top: 0;
        bottom: 0;
    }

    &.animations-enabled {
        transition-property: transform, width, min-width, max-width;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }
}

.atlp-sidebar-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all 0.3s ease;
    right: calc(100vw - 41px);
    @media (min-width: 1024px) {
        right: calc(100vw - 89px);
    }
    @media (min-width: 1360px) {
        right: calc(100vw - 361px);
    }
    @for $i from 1 through 10 {
        &.z-index-#{999 + $i} {
            z-index: 998 + $i;
        }
    }
}

.atlp-sidebar-overlay {
    // background-color: rgba(0, 0, 0, 0.4) !important;
    background-color: rgba(225, 225, 225, 0.2) !important;
    position: fixed;
    opacity: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

@-moz-document url-prefix() {
    .atlp-sidebar-overlay {
        background-color: rgba(0, 0, 0, 0.4) !important;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}
