.table-scroll-wrap {
    overflow: hidden;
    overflow-x: auto;

    .table {
        min-width: 1000px;
    }
}

.table-filters {
    .dropdown-select {
        // margin: 0 20px;
    }
}
.hidden-button{
    display: none;
}
.table-controls {
    width: 100%;
    padding: 16px 0;
    margin-bottom: 10px;
    .dropdown-select {
         height: 38px !important;
    }
}

.cargo-table {
    .icon-btn{
        height: 38px;
    }
   
}
