@import "src/@atlp/scss/variables";

.filters {
    background-color: map-get($color, "atlp-violet-base");
    width: 260px;
    min-height: calc(100vh - 65px);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    .filters-title {
        font-size: 14px;
        color: map-get($color, "atlp-purple-light");
        margin-top: 0px;
    }
    .filters-preset {
        font-size: 16px;
        color: map-get($color, "atlp-purple-light");
        margin-top: 0px;
    }
    .filter-title-row {
        padding-top: 39px;
        padding-bottom: 18.5px;
    }
    .filters-btn {
        width: 100%;
        margin-bottom: 41px;
    }
    .clear-btn {
        margin-bottom: 14px;
        width: 100%;
    }
    .filter-section-title {
        color: map-get($color, "atlp-purple-light");
        font-size: 16px;
        margin-bottom: 16px;
    }
    .filters-radio {
        margin-bottom: 40px;
    }
    .panel-title {
        color: map-get($color, "atlp-purple-light");
    }
    .mat-expansion-panel-header-description {
        padding-bottom: 11px;
    }
    .mat-expansion-panel {
        margin-bottom: 16px !important;
    }
    .savefilters-btn {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 80px;
    }
    .filters-checkbox {
        margin-bottom: 12px;
    }
    .date-picker {
        margin-top: 12px;
    }
    .radio-btn-row {
        width: 100%;
    }
    .radio-button-select {
        margin-bottom: 12px;
    }

    .loaded-filters {
        background-color: map-get($color, "atlp-violet-light");
        position: absolute;
        width: 100%;
        top: 0;
        left: 260px;
        height: 102%;
        padding-left: 12px;
        padding-right: 12px;
        z-index: 3;
        .filters-btn {
            width: 100%;
            margin-bottom: 8px;
            text-align: left;
        }
        .loaded-filters-title {
            color: map-get($color, "atlp-white");
            font-size: 18px;
            margin-bottom: 12px;
            margin-top: 39px;
        }
        .selectedbtn {
            background: map-get($color, "atlp-violet-base") !important;
            border: 1px solid map-get($color, "atlp-border-color") !important;
            color: map-get($color, "atlp-white") !important;
            path {
                fill: map-get($color, "atlp-grey-base") !important;
            }
        }
        .saved-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            min-height: 33px;
        }
    }
    @media screen and (max-width: 552px) {
        position: absolute;
        width: 100%;
        .loaded-filters {
            top: unset !important;
            left: 0px !important;
        }
    }
}
.panel-custom.bg {
    background-color: #605a92 !important;
}
