@import "src/@atlp/scss/variables";
.driver-header{
     padding-bottom: 24px;
    margin-bottom: 20px;
    .dropdown-col {
        max-width: 292px;
        margin-top: 15px;
        @media (min-width: 960px) {
            margin-top: 0;
            margin-left: 12px;
            max-width: 190px;
        }
    }
}
.add-driver{
    overflow: auto;
    .mat-header-cell:nth-child(1){
        max-width: 100px;
    }
.mat-row {
      border-bottom: 1px solid map-get($color,'atlp-panel-border');
    .mat-cell:nth-child(1){
    max-width: 100px;
    }
}
 .mat-header-row {
          border-bottom: 1px solid map-get($color, 'atlp-panel-border');
    }
  .table-wrapper{
      overflow-x: auto;
      .table{
          min-width: 800px;
      }
  }
}