<div class="wrapper overlay-blur" [class.blur]="atplSidebarService.allOpenedSuperimposedSidebar.length > 0" fxFlex="none" fxLayout="column" fxLayoutAlign="start none">
    <header class="header" fxFlex="none">
        <mat-toolbar class="p-0">
            <div class="toolbar-container" fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
                <app-menu></app-menu>
                <span class="toolbar-btn-text">Voyages</span>

                <div class="toolbar-body" fxLayout="row" fxLayoutAlign="start center">
                    <button class="icon-btn open-table-btn mr-12">
                        <mat-icon svgIcon="open-table-icon" aria-hidden="false"></mat-icon>
                    </button>
                    <atlp-search-bar (input)="search($event)"></atlp-search-bar>
                    <button mat-raised-button color="basic" class="icon filter-btn ml-12 mr-12"
                        (click)="toggleSidebarOpen(SidebarName.filtersSidebar)">
                        <mat-icon svgIcon="filter-icon" aria-hidden="false"></mat-icon>
                        Filter
                    </button>
                    <button mat-raised-button color="basic">Customize</button>
                </div>

                <div class="toolbar-nav" fxFlex fxFill fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" class="icon">
                        <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
                        Start New
                    </button>
                    <header-user></header-user>
                </div>
            </div>
        </mat-toolbar>
    </header>
    
    <div class="table-container" fxFlex fxLayout="column" fxLayoutAlign="start none">
        <div class="controls-buttons">
            <button mat-raised-button color="primary" class="icon" (click)="toggleSidebarOpen(SidebarName.awb)"
                id="awb-btn">
                <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
                AWB Renominate
            </button>
        </div>
    </div>
</div>

<!-- Start awb renominate -->
<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.awb" position="right" [folded]="false"
[invisibleOverlay]="true" [superimposed]="true">
<awb-renominate (changeState)="toggleSidebarOpen($event)"></awb-renominate>
</atlp-sidebar>
<!-- End awb renominate -->