<div class="drawer-wrap" fxFlex fxLayout="column" fxLayoutAlign=" none">
    <div class="drawer-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="drawer-info">
            <span class="drawer-title">Import Airway Bill: AW-0000-0006</span>
            <span class="drawer-percent">Free Storage Time: 02D : 04HR : 59MIN | GTR</span>
        </div>
    </div>

    <div class="drawer-body airway">
        <!-- Master Airway bl detail -->
        <h2 class="block-title">Master Airway bl detail</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="start start">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">MAWB#</span>
                    <span class="appointment-text">607-44414048</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">AWB Origin</span>
                    <span class="appointment-text">IND</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Shipper</span>
                    <span class="appointment-text">Fedex San Francisco, Howard Street, San Francisco</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Consignee</span>
                    <span class="appointment-text">KhaJojin Manuel, Al Wahda, Abu Dhabilifa Port</span>
                </div>
            </div>
        </div>

        <!-- Shipment Description -->
        <h2 class="block-title">Shipment Description</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="start start">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Quantity</span>
                    <span class="appointment-text">20</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">GROSS WEIGHT</span>
                    <span class="appointment-text">528 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">CHARGEABLE WEIGHT</span>
                    <span class="appointment-text">524 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">SHC</span>
                    <span class="appointment-text">SVC</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">COMMODITY GROUP</span>
                    <span class="appointment-text">Perishable Goods</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">COMMODITY</span>
                    <span class="appointment-text">Fruits</span>
                </div>
            </div>
        </div>

        <!-- House Airway BL Details 1 -->
        <h2 class="block-title">House Airway BL Details 1</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="start start">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">HAWB#</span>
                    <span class="appointment-text">SF0112256</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Shipper Name</span>
                    <span class="appointment-text">Fedex San Fransisco</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Consignee</span>
                    <span class="appointment-text">Join Manuel</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">QUANTITY</span>
                    <span class="appointment-text">101 PCS</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">GROSS WEIGHT</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">CHARGEABLE WEIGHT</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">SHC</span>
                    <span class="appointment-text">SVC</span>
                </div>
                <!-- <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title"></span>
                    <span class="appointment-text"></span>
                </div> -->
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Flight</span>
                    <span class="appointment-text">EY9122</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Scheduled Arrival</span>
                    <span class="appointment-text">30/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Actual Arrival</span>
                    <span class="appointment-text">30/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Scheduled Departure</span>
                    <span class="appointment-text">11/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Actual Departure</span>
                    <span class="appointment-text">11/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Commodity GROUP</span>
                    <span class="appointment-text">Vehicles</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Commodity</span>
                    <span class="appointment-text">Cars</span>
                </div>
            </div>
        </div>

        <!-- House Airway BL Details 2 -->
        <h2 class="block-title">House Airway BL Details 2</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="start start">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">HAWB#</span>
                    <span class="appointment-text">SF0112256</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Shipper Name</span>
                    <span class="appointment-text">Fedex San Fransisco</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Consignee</span>
                    <span class="appointment-text">Join Manuel</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">QUANTITY</span>
                    <span class="appointment-text">101 PCS</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">GROSS WEIGHT</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">CHARGEABLE WEIGHT</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">SHC</span>
                    <span class="appointment-text">SVC</span>
                </div>
                <!-- <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title"></span>
                    <span class="appointment-text"></span>
                </div> -->
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Flight</span>
                    <span class="appointment-text">EY9122</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Scheduled Arrival</span>
                    <span class="appointment-text">30/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Actual Arrival</span>
                    <span class="appointment-text">30/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Scheduled Departure</span>
                    <span class="appointment-text">11/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Actual Departure</span>
                    <span class="appointment-text">11/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Commodity GROUP</span>
                    <span class="appointment-text">Vehicles</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Commodity</span>
                    <span class="appointment-text">Cars</span>
                </div>
            </div>
        </div>

        <!-- FLIGHT INFORMATION -->
        <h2 class="block-title">FLIGHT INFORMATION</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Flight NUMBER</span>
                    <span class="appointment-text">EY9122</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Scheduled Departure</span>
                    <span class="appointment-text">11/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Actual Departure</span>
                    <span class="appointment-text">11/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Scheduled Arrival</span>
                    <span class="appointment-text">30/12/2020 02:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Actual Arrival</span>
                    <span class="appointment-text">30/12/2020 02:00</span>
                </div>
            </div>
        </div>

        <!-- PRE delivery Order -->
        <h2 class="block-title">PRE delivery Order</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="7px">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Pre Delivery Order#</span>
                    <span class="appointment-text">410719161981273</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Issue ON</span>
                    <span class="appointment-text">01/11/2020 03:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="29%">
                    <span class="appointment-title">Agent</span>
                    <span class="appointment-text">ADSO LLC</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Shipper Name</span>
                    <span class="appointment-text">SEKO Worldwide PTY LTD</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Shipper Contact No</span>
                    <span class="appointment-text">+971234567890</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="29%">
                    <span class="appointment-title">Shipper Address</span>
                    <span class="appointment-text">Abu Dhabi AE, 9397110047214000003</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Consignee Name</span>
                    <span class="appointment-text">SEKO Worldwide PTY LTD</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Consignee Contact No</span>
                    <span class="appointment-text">+971234567890</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="29%">
                    <span class="appointment-title">Consignee Address</span>
                    <span class="appointment-text">Abu Dhabi AE, 9397110047214000003</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">HAWB#</span>
                    <span class="appointment-text">SF0112256</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Quantity</span>
                    <span class="appointment-text">101 PCS</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Weight</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="20%">
                    <span class="appointment-title">Chargeable Weight</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">FLIGHT</span>
                    <span class="appointment-text">EY9122</span>
                </div>
            </div>
        </div>

        <!-- delivery Order -->
        <h2 class="block-title">delivery Order</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="7px">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Delivery Order#</span>
                    <span class="appointment-text">410719161981273</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Issue ON</span>
                    <span class="appointment-text">01/11/2020 03:00</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="29%">
                    <span class="appointment-title">Agent</span>
                    <span class="appointment-text">ADSO LLC</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Shipper Name</span>
                    <span class="appointment-text">SEKO Worldwide PTY LTD</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Shipper Contact No</span>
                    <span class="appointment-text">+971234567890</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="29%">
                    <span class="appointment-title">Shipper Address</span>
                    <span class="appointment-text">Abu Dhabi AE, 9397110047214000003</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Consignee Name</span>
                    <span class="appointment-text">SEKO Worldwide PTY LTD</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Consignee Contact No</span>
                    <span class="appointment-text">+971234567890</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="29%">
                    <span class="appointment-title">Consignee Address</span>
                    <span class="appointment-text">Abu Dhabi AE, 9397110047214000003</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">HAWB#</span>
                    <span class="appointment-text">SF0112256</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Quantity</span>
                    <span class="appointment-text">101 PCS</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">Weight</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="20%">
                    <span class="appointment-title">Chargeable Weight</span>
                    <span class="appointment-text">202 KG</span>
                </div>
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">FLIGHT</span>
                    <span class="appointment-text">EY9122</span>
                </div>
            </div>
        </div>

        <!-- Comments & Shipment Instructions -->
        <h2 class="block-title">Comments & Shipment Instructions</h2>
        <div class="appointment-info">
            <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="appointment-info-col" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
                    <span class="appointment-title">COMMENTS</span>
                    <span class="appointment-text">None</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- panel-nav -->
<div class="panel-nav" fxLayout="column" fxLayoutAlign="space-between center">
    <!-- close btn -->
    <button class="round-btn panel-btn" (click)="toggleSidebarOpen(SidebarName.importAirway)">
        <mat-icon class="small-close-btn" svgIcon="close-white-icon" aria-hidden="false"></mat-icon>
    </button>
    <!-- soc-wrap -->
    <div class="soc-wrap" fxLayout="column" fxLayoutAlign="end center">
        <button class="round-btn">
            <mat-icon svgIcon="icon-plus" aria-hidden="false"></mat-icon>
        </button>
        <button class="round-btn">
            <mat-icon svgIcon="print-icon" aria-hidden="false"></mat-icon>
        </button>
    </div>
</div>