<div class="drawer-wrap information" fxFlex fxLayout="column" fxLayoutAlign=" none">
    <div class="drawer-wrap-container">
        <div class="drawer-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
                <h1 class="Information-title">{{title}}</h1>
            </div>
        </div>
        <div class="drawer-body" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="49px" fxLayoutGap.xs="0px"
            fxLayoutGap.sm="0px">
            <div fxLayout="column" fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
                <h2 class="Information-subtitle">{{subtitle}}</h2>
                <p class="content">
                    {{content}}
                </p>
            </div>
            <div class="Faq-box" fxFlex="28" fxFlex.xs="100" fxFlex.sm="100">
                <div class="faqheaderrow" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="3px">
                    <mat-icon svgIcon="double-qst" aria-hidden="false"></mat-icon>
                    <p class="faq-title">Related FAQ’s</p>
                </div>
                <p class="faqvalue" *ngFor="let element of faq; index as i">
                    <span class="faqqstmark">?</span> {{element.Qst}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="panel-nav" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="9px">
    <!-- close btn -->
    <button class="round-btn panel-btn" (click)="toggleSidebarOpen(SidebarName.information)">
        <mat-icon class="small-close-btn" svgIcon="close-white-icon" aria-hidden="false"></mat-icon>
    </button>
    <button class="round-btn panel-btn information-btn">
        <mat-icon svgIcon="arrow-line-up-fill" aria-hidden="false"></mat-icon>
    </button>

</div>