<!-- <div class="table-container" fxFlex fxLayout="column" fxLayoutAlign="start none">
    <div class="controls-buttons">
        <div fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="12px">
            <button mat-raised-button color="primary" (click)="toggleSidebarOpen(SidebarName.informationStatistics)"
                id="informationStatistics-btn">
                Statistics
            </button>
            <button mat-raised-button color="primary" (click)="toggleSidebarOpen(SidebarName.informationpanel)"
                id="informationpanel-btn">
                panel with Information
            </button>
        </div>
    </div>
</div>

<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.informationStatistics" position="right" [folded]="false"
    [invisibleOverlay]="true" [superimposed]="true">
    <information-statistics></information-statistics>
</atlp-sidebar>
<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.informationpanel" position="right" [folded]="false"
    [invisibleOverlay]="true" [superimposed]="true">
    <informationpanel (changeState)="toggleSidebarOpen($event)"></informationpanel>
</atlp-sidebar>
<atlp-sidebar class="sidebar-with-content second-sidebar" [name]="SidebarName.information" position="right"
    [folded]="false" [invisibleOverlay]="true" [superimposed]="true">
    <atlp-information [faq]="faq" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        subtitle="Lorem ipsum set met consectetur"
        content="Lorem ipsum set met consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa lacus, interdum at finibus non, euismod vitae nulla. Mauris convallis risus eu tortor ullamcorper, vel pellentesque est ornare. Suspendisse quis sollicitudin lorem. Cras lobortis lacus nec mauris venenatis, id tincidunt nulla tempus. Integer vulputate tortor vitae congue tempor. Duis egestas iaculis sem. Donec in blandit ipsum. Integer lobortis massa venenatis mollis gravida. Suspendisse a pellentesque sem. Aenean tincidunt pretium felis et luctus.
        
Etiam dapibus vestibulum tellus sed vehicula. Morbi luctus fringilla erat id gravida. Nulla facilisi. Nullam sodales ac neque in luctus. Sed a ligula sit amet sapien cursus vulputate.Fusce sollicitudin quam nibh, vel ullamcorper tellus vestibulum at. Integer rutrum iaculis enim, quis feugiat nisl fringilla nec. Fusce dapibus sapien eu tincidunt vehicula. Sed sed ligula sem. Vestibulum enim sem, ullamcorper aliquet iaculis ut, cursus quis sapien. Fusce placerat, diam quis tincidunt efficitur, enim tortor interdum arcu, nec rutrum elit justo a dui. Sed in lacinia massa. Quisque convallis eget est a accumsan.
        
Fusce nec hendrerit odio. Sed dignissim laoreet est, ut viverra erat maximus a. Aenean lacinia sapien et neque rutrum sollicitudin.">
    </atlp-information>
</atlp-sidebar> -->

<div class="wrapper overlay-blur" [class.blur]="atplSidebarService.allOpenedSuperimposedSidebar.length > 0"
    fxFlex="none" fxLayout="column" fxLayoutAlign="start none">
    <header class="header" fxFlex="none">
        <mat-toolbar class="p-0">
            <div class="toolbar-container" fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
                <app-menu></app-menu>
                <span class="toolbar-btn-text">Information Services</span>

                <div class="toolbar-body" fxLayout="row" fxLayoutAlign="start center">
                    <button class="icon-btn open-table-btn mr-12">
                        <mat-icon svgIcon="open-table-icon" aria-hidden="false"></mat-icon>
                    </button>
                    <atlp-search-bar (input)="search($event)"></atlp-search-bar>
                    <button mat-raised-button color="basic" class="icon filter-btn ml-12 mr-12"
                        (click)="toggleSidebarOpen(SidebarName.filtersSidebar)">
                        <mat-icon svgIcon="filter-icon" aria-hidden="false"></mat-icon>
                        Filter
                    </button>
                    <button mat-raised-button color="basic">Customize</button>
                </div>

                <div class="toolbar-nav" fxFlex fxFill fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" class="icon">
                        <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
                        Start New
                    </button>
                    <header-user></header-user>
                </div>
            </div>
        </mat-toolbar>
    </header>

    <div class="table-container" fxFlex fxLayout="column" fxLayoutAlign="start none">
        <div fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="12px">
            <button mat-raised-button color="primary" (click)="toggleSidebarOpen(SidebarName.informationStatistics)"
                id="informationStatistics-btn">
                Statistics
            </button>
            <button mat-raised-button color="primary" (click)="toggleSidebarOpen(SidebarName.informationpanel)"
                id="informationpanel-btn">
                panel with Information
            </button>
        </div>
    </div>
</div>
<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.informationStatistics" position="right" [folded]="false"
    [invisibleOverlay]="true" [superimposed]="true">
    <information-statistics></information-statistics>
</atlp-sidebar>
<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.informationpanel" position="right" [folded]="false"
    [invisibleOverlay]="true" [superimposed]="true">
    <informationpanel (changeState)="toggleSidebarOpen($event)"></informationpanel>
</atlp-sidebar>
<atlp-sidebar class="sidebar-with-content second-sidebar" [name]="SidebarName.information" position="right"
    [folded]="false" [invisibleOverlay]="true" [superimposed]="true">
    <atlp-information [faq]="faq" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        subtitle="Lorem ipsum set met consectetur"
        content="Lorem ipsum set met consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa lacus, interdum at finibus non, euismod vitae nulla. Mauris convallis risus eu tortor ullamcorper, vel pellentesque est ornare. Suspendisse quis sollicitudin lorem. Cras lobortis lacus nec mauris venenatis, id tincidunt nulla tempus. Integer vulputate tortor vitae congue tempor. Duis egestas iaculis sem. Donec in blandit ipsum. Integer lobortis massa venenatis mollis gravida. Suspendisse a pellentesque sem. Aenean tincidunt pretium felis et luctus.
            
    Etiam dapibus vestibulum tellus sed vehicula. Morbi luctus fringilla erat id gravida. Nulla facilisi. Nullam sodales ac neque in luctus. Sed a ligula sit amet sapien cursus vulputate.Fusce sollicitudin quam nibh, vel ullamcorper tellus vestibulum at. Integer rutrum iaculis enim, quis feugiat nisl fringilla nec. Fusce dapibus sapien eu tincidunt vehicula. Sed sed ligula sem. Vestibulum enim sem, ullamcorper aliquet iaculis ut, cursus quis sapien. Fusce placerat, diam quis tincidunt efficitur, enim tortor interdum arcu, nec rutrum elit justo a dui. Sed in lacinia massa. Quisque convallis eget est a accumsan.
            
    Fusce nec hendrerit odio. Sed dignissim laoreet est, ut viverra erat maximus a. Aenean lacinia sapien et neque rutrum sollicitudin.">
    </atlp-information>
</atlp-sidebar>