::ng-deep {
    voyage-table-list {
        width: 100%;
    }
}

.rolledoverflow {
    overflow-x: auto !important;
}

.voyage-table-list {
    .mat-cell,
    .mat-header-cell {
        padding-right: 10px;
    }
}

.cell-status-icon {
    min-width: 30px;
    min-height: 30px;
    margin: 0 0 -1px -8px;
}

.small-cell {
    width: 54px;
    flex: none;
}

.voyage-table-list {
    width: 100%;
    min-width: 1300px;
}

.agent-number {
    width: 152px;
    flex: none;
}