@import "src/@atlp/scss/variables";

.main {
    background: map-get($color, 'atlp-grey-light');
}

.block-title {
    color: map-get($color, "atlp-panel-title");
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 18px;
    letter-spacing: 0.96px;
    @media (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 24px;
    }
}
.sub-title {
    color: map-get($color, "atlp-panel-title");
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
}

.block-sub-title {
    color: map-get($color, "atlp-white");
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 0px;
    @media (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 30px;
    }
}
.block-section-title{
    font-size: 14px;
    color:map-get($color, 'atlp-section-title') ;
    font-weight: 500;
    text-transform: uppercase;
}

.base-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.15;
    color: map-get($color, "atlp-grey-base");
}

// custom scroll
.scroll-wrap {
    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        border: none;
        background: map-get($color, 'atlp-field-border');
    }
}

// pages style
.wrapper {
    width: 100%;
}

.sidebar-container {
    position: relative;
}

// status colors
.accept {
    color: #57a05a !important;
}
.rejected {
    color: #d92836 !important;
}
.pending {
    color: #c5d2e7 !important;
}
.add-new {
    color: #267ad2 !important;
}

// panel overlay
.overlay-blur {
    &.blur {
        filter: blur(4px);
    }
}