<div class="drawer-wrap Statistics" fxFlex fxLayout="column" fxLayoutAlign=" none">
    <div class="drawer-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="drawer-info">
            <span class="drawer-title">Panel with Information</span>
        </div>
    </div>
    <div class="drawer-body">
        <button mat-raised-button color="primary" class="icon" (click)="openSidebarComponents(SidebarName.information)">
            <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
            show Information
        </button>
    </div>
</div>

<div class="panel-nav" fxLayout="column" fxLayoutAlign="space-between center">
    <!-- close btn -->
    <button class="round-btn panel-btn" (click)="toggleSidebarOpen(SidebarName.informationpanel)">
        <mat-icon class="small-close-btn" svgIcon="close-white-icon" aria-hidden="false"></mat-icon>
    </button>
</div>