@import "src/@atlp/scss/variables";

::ng-deep {
    voyage-card {
        width: 100%;
    }
}

.voyage-card {
    width: 100%;
}

.voyage-card-wrap {
    background-color: map-get($color, "atlp-white");
    border: 1px solid map-get($color, "atlp-wrap-border");
    border-radius: 10px;
    padding: 16px;
    min-height: 168px;
}

.voyage-card-footer {
    margin-top: auto;
}

.voyage-card-icon {
    margin-bottom: 16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: map-get($color, "atlp-card-icon-bg");
    .mat-icon {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        &.big-icon {
            width: 38px;
            height: 38px;
            min-width: 38px;
            min-height: 38px;
        }
        &.medium-icon {
            width: 29px;
            height: 29px;
            min-width: 29px;
            min-height: 29px;
        }
    }
}

.voyage-card-status {
    font-size: 14px;
    color: map-get($color, "atlp-ink-light");
    &.approved {
        color: map-get($color, "atlp-bar-bg");
    }
    &.rejected {
        color: map-get($color, "atlp-danger-btn");
    }
    &.pending {
        color: map-get($color, "atlp-grey-dark");
    }
    &.add {
        color: map-get($color, "atlp-card-add");
    }
    &.na {
        color: map-get($color, "atlp-toolbar-border");
    }
}

.voyage-card-id {
    font-size: 14px;
    word-break: break-all;
    color: map-get($color, "atlp-ink-light");
}

.voyage-card-descr {
    font-size: 12px;
    font-style: italic;
    color: map-get($color, "atlp-toolbar-border");
}

.voyage-card-addition {
    position: absolute;
    top: 42px;
    left: 58px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: map-get($color, "atlp-card-addition-bg");
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    white-space: nowrap;
    color: map-get($color, "atlp-card-addition-color");
}

.voyage-card-duration {
    position: absolute;
    top: 19px;
    left: 58px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: map-get($color, "atlp-white");
    box-shadow: 0px 1px 4px #0000001f;
    text-align: center;
    color: map-get($color, "atlp-row-border");
    padding: 9px 0;
    font-size: 8px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        &:nth-child(1) {
            font-size: 14px;
        }
    }
}

.voyage-card-text-info,
.voyage-card-time,
.voyage-card-date {
    font-size: 12px;
    color: map-get($color, "atlp-ink-lighter");
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
}

.voyage-card-update {
    font-size: 8px;
    color: map-get($color, "atlp-card-update");
}
