<h3 class="sub-title">Purpose of Call</h3>
<form [formGroup]="testForm">
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Specify Other</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Loading Operations</label>
            <field-number [min]="0" [max]="10" formControlName="test_two"></field-number>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Load Tonnage</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Load Destination</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"></div>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Discharge Operations</label>
            <field-number [min]="0" [max]="10" formControlName="test"></field-number>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Discharge Tonnage</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Discharge Destination</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"></div>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="toggle-row">
            <label for="#" class="toggle-label">Dangerous Cargo</label>
            <mat-slide-toggle formControlName="is_checked_cangerous">
                <ng-container *ngIf="formControl.is_checked_cangerous.value; else immigration">ON</ng-container>
                <ng-template #immigration>OFF</ng-template>
            </mat-slide-toggle>
        </div>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Option
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Option
        </mat-checkbox>
        <div class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"></div>
        <div class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"></div>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="toggle-row">
            <label for="#" class="toggle-label">Immigration Clearance Required</label>
            <mat-slide-toggle formControlName="is_checked_immigration" checked>
                <ng-container *ngIf="formControl.is_checked_immigration.value; else dangerous">ON</ng-container>
                <ng-template #dangerous>OFF</ng-template>
            </mat-slide-toggle>
        </div>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Inbound Master Name</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
        <div class="dropdown-col bg field-wrap" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="dropdown-label">Nationality</label>
            <mat-select placeholder="Select" class="dropdown-select bg" panelClass="panel-custom bg">
                <mat-option *ngFor="let nationality of nationalities" [value]="nationality.value">
                    {{nationality.viewValue}}
                </mat-option>
            </mat-select>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Total Crew</label>
            <field-number [min]="0" [max]="10" formControlName="test_one"></field-number>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Toal Passengers</label>
            <field-number [min]="0" [max]="10" formControlName="test_three"></field-number>
        </div>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Outbound Master Name</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
        <div class="dropdown-col bg field-wrap" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="dropdown-label">Nationality</label>
            <mat-select placeholder="Select" class="dropdown-select bg" panelClass="panel-custom bg">
                <mat-option *ngFor="let nationality of nationalities" [value]="nationality.value">
                    {{nationality.viewValue}}
                </mat-option>
            </mat-select>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Total Crew</label>
            <field-number [min]="0" [max]="10" formControlName="test_four"></field-number>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Toal Passengers</label>
            <field-number [min]="0" [max]="10" formControlName="test_five"></field-number>
        </div>
    </div>
</form>

<h3 class="sub-title">Marine Services</h3>
<form>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <mat-radio-group class="field-wrap radio-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="48%"
            fxFlex.gt-md="21%" fxLayout="column">
            <!-- <> -->
            <label for="#" class="field-label">Inbound Pilot Exemption</label>
            <mat-radio-button value="exemption_one_yes">Yes</mat-radio-button>
            <mat-radio-button value="exemption_one_no">No</mat-radio-button>
        </mat-radio-group>
        <!-- </div> -->
        <mat-radio-group class="field-wrap radio-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="48%"
            fxFlex.gt-md="21%" fxLayout="column">
            <label for="#" class="field-label">Inbound Pilot Exemption</label>
            <mat-radio-button value="exemption_two_yes">Yes</mat-radio-button>
            <mat-radio-button value="exemption_two_no">No</mat-radio-button>
        </mat-radio-group>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="48%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">PEC</label>
            <div class="field-input-wrap mb-24">
                <input type="text" required />
            </div>
            <label for="#" class="field-label">POB (R)</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="48%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">MFC</label>
            <div class="field-input-wrap mb-24">
                <input type="text" required />
            </div>
            <label for="#" class="field-label">POB (A)</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
    </div>
</form>

<h3 class="sub-title">SPECIAL CONDITIONS</h3>
<form>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Discharge
            Operations</mat-checkbox>
        <mat-checkbox class="bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%">Crew Change
        </mat-checkbox>
    </div>
    <div class="vessel-row" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="field-wrap bg" fxFlex="100%" fxFlex.gt-xs="48%" fxFlex.gt-sm="30%" fxFlex.gt-md="21%"
            fxLayout="column">
            <label for="#" class="field-label">Specify Other</label>
            <div class="field-input-wrap">
                <input type="text" required />
            </div>
        </div>
    </div>
</form>