<div class="drawer-wrap" fxFlex fxLayout="column" fxLayoutAlign=" none">
    <div class="drawer-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="drawer-info">
            <span class="drawer-title">Vessel: MG2194441</span>
        </div>
    </div>

    <div class="drawer-body vessel-body">
        <div class="panel-header">
            <h2 class="block-title">AIS Data</h2>
            <h2 class="block-title">Recent Port Calls</h2>
        </div>
    </div>
</div>

<!-- panel-nav -->
<div class="panel-nav" fxLayout="column" fxLayoutAlign="space-between center">
    <!-- close btn -->
    <button class="round-btn panel-btn" (click)="toggleSidebarOpen(SidebarName.vesselMap)">
        <mat-icon class="small-close-btn" svgIcon="close-white-icon" aria-hidden="false"></mat-icon>
    </button>
</div>