<div class="wrapper overlay-blur" [class.blur]="atplSidebarService.allOpenedSuperimposedSidebar.length > 0"
    fxFlex="none" fxLayout="column" fxLayoutAlign="start none">
    <header class="header" fxFlex="none">
        <mat-toolbar class="p-0">
            <div class="toolbar-container" fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
                <app-menu></app-menu>
                <span class="toolbar-btn-text">Appointments </span>

                <div class="toolbar-body" fxLayout="row" fxLayoutAlign="start center">
                    <button class="icon-btn open-table-btn mr-12">
                        <mat-icon svgIcon="open-table-icon" aria-hidden="false"></mat-icon>
                    </button>
                    <atlp-search-bar (input)="search($event)"></atlp-search-bar>
                    <button mat-raised-button color="basic" class="icon filter-btn ml-12 mr-12"
                        (click)="toggleSidebarOpen(SidebarName.filtersSidebar)">
                        <mat-icon svgIcon="filter-icon" aria-hidden="false"></mat-icon>
                        Filter
                    </button>
                    <button mat-raised-button color="basic">Customize</button>
                </div>

                <div class="toolbar-nav" fxFlex fxFill fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" class="icon">
                        <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
                        Start New
                    </button>
                    <header-user></header-user>
                </div>
            </div>
        </mat-toolbar>
    </header>
    <div class="table-container" fxFlex fxLayout="column" fxLayoutAlign="start none">
        <div class="controls-buttons column" fxLayout="column" fxLayoutAlign="start start">
            <button mat-raised-button color="primary" class="icon" (click)="toggleSidebarOpen(SidebarName.vessel)"
                id="vessel-btn">
                <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
                New Vassel
            </button>
            <button mat-raised-button color="primary" class="icon"
                (click)="toggleSidebarOpen(SidebarName.vesselwithmessage)" id="vesselwithmessage-btn">
                <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
                New Vassel with message
            </button>
            <button mat-raised-button color="primary" class="icon" (click)="toggleSidebarOpen(SidebarName.vesselMap)"
                id="vessel-btn">
                <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>
                Vassel Map
            </button>
        </div>
    </div>
</div>

<!-- Start new vessel -->
<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.vessel" position="right" [folded]="false"
    [invisibleOverlay]="true" [superimposed]="true">
    <new-vessel (changeState)="toggleSidebarOpen($event)"></new-vessel>
</atlp-sidebar>
<!-- End new vessel -->

<!-- Start new vessel -->
<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.vesselwithmessage" position="right" [folded]="false"
    [invisibleOverlay]="true" [superimposed]="true">

    <new-vessel showMessage="true" (changeState)="toggleSidebarOpen($event)"></new-vessel>
</atlp-sidebar>
<!-- End new vessel -->

<!-- Start vessel map -->
<atlp-sidebar class="sidebar-with-content" [name]="SidebarName.vesselMap" position="right" [folded]="false"
    [invisibleOverlay]="true" [superimposed]="true">
    <vessel-map (changeState)="toggleSidebarOpen($event)"></vessel-map>
</atlp-sidebar>
<!-- End vessel map -->