<div class="drawer-wrap" fxFlex fxLayout="column" fxLayoutAlign=" none">
    <div class="drawer-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="drawer-info">
            <span class="drawer-title">{{airwaybl}}</span>
            <p class="drawer-subtitle">
                <span>Toll free {{toll}},</span>
                <span class="fax-border">Fax {{fax}}</span>
                <span class="Email"> Email: {{Email}}</span>
            </p>
        </div>
    </div>
    <div class="drawer-body" fxLayout="row wrap">

        <div class="track-info-row" fxFlex fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="key-value-column" fxFlex="25">
                <div class="header-info">SCHEDULED</div>
                <div class="header-value">{{info.Scheduled}}</div>
            </div>
            <div class="key-value-column" fxFlex="25">
                <div class="header-info">Actual</div>
                <div class="header-value">{{info.actual}}</div>
            </div>
            <div class="key-value-column" fxFlex="25">
                <div class="header-info">ORIGIN</div>
                <div class="header-value">{{info.origin}}</div>
            </div>
            <div class="key-value-column" fxFlex="25">
                <div class="header-info">terminal</div>
                <div class="header-value">{{info.terminal}}</div>
            </div>
            <div class="stepper-row" fxFlex fxLayout="row wrap" fxLayoutAlign="space-between start">
                <h2 class="block-title stepper-title">Track Cargo</h2>
                <atlp-stepper [stepperData]="stepperData"></atlp-stepper>
            </div>
        </div>
    </div>
</div>
<div class="soc-wrap" fxLayout="column" fxLayoutAlign="end center">
    <button class="round-btn">
        <mat-icon svgIcon="tel-icon" aria-hidden="false"></mat-icon>
    </button>
    <button class="round-btn">
        <mat-icon svgIcon="email-icon" aria-hidden="false"></mat-icon>
    </button>
</div>