@import "src/@atlp/scss/variables";
.renominate{
.panel-body .search-bar-bg{
    margin-bottom: 14px !important;
}
.filter-row {
    margin-bottom: 16px;
     border-bottom: 1px solid map-get($color, "atlp-panel-border");
}

}