<!-- Start Add AWB -->
<div class="drawer-wrap" fxFlex fxLayout="column" fxLayoutAlign="none">
    <div class="drawer-wrap-container">
        <div class="drawer-header" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="drawer-info">
                <span class="drawer-title">Add AWB</span>
            </div>
        </div>
        <div class="drawer-body">
            <h2 class="block-title">Add AWB</h2>
            <!-- Start Add AWB Form -->
            <form>
                <div class="awb-header" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start start">
                    <atlp-search-bar class="search-bar-bg" (input)="search($event)"></atlp-search-bar>
                    <div class="dropdown-col bg" fxFlex>
                        <mat-select placeholder="Filters" class="dropdown-select bg" panelClass="panel-custom bg"
                            required>
                            <mat-option *ngFor="let type of types" [value]="type.value">
                                {{type.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="awb-container">
                    <ng-container *ngFor="let item of awbData">
                        <div class="appointment-title-row" fxLayout="row">
                            <span class="appointment-text bold">AW-0000-0006</span>
                            <span class="appointment-text">{{ item?.time }} remaining</span>
                        </div>
                        <div class="appointment-info-row" fxLayout="row wrap" fxLayoutAlign="start start">
                            <div class="appointment-info-col" fxFlex="40px" fxFlex.gt-xs="30px" fxLayout="row"
                                fxLayoutAlign="start center">
                                <mat-checkbox class="bg" (click)="toggleAwb(item?.id)"></mat-checkbox>
                            </div>
                            <div class="appointment-info-col" fxFlex="55%" fxFlex.gt-xs="23%">
                                <span class="appointment-title">Pick up Terminal</span>
                                <span class="appointment-text">{{ item?.terminal }}</span>
                            </div>
                            <div class="appointment-info-col" fxFlex="55%" fxFlex.gt-xs="23%">
                                <span class="appointment-title">Gross Weight</span>
                                <span class="appointment-text">{{ item?.grossWeight }}</span>
                            </div>
                            <div class="appointment-info-col" fxFlex="55%" fxFlex.gt-xs="23%">
                                <span class="appointment-title">Chargeable Weight</span>
                                <span class="appointment-text">{{ item?.chargeableWeight }}</span>
                            </div>
                            <div class="appointment-info-col" fxFlex="55%" fxFlex.gt-xs="23%">
                                <span class="appointment-title">Custom Status</span>
                                <span class="appointment-text">{{ item?.status }}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </form>
            <!-- End Add AWB Form -->
        </div>
    </div>
</div>
<!-- End Add AWB -->

<!-- Start panel nav -->
<div class="panel-nav" fxLayout="column" fxLayoutAlign="space-between center">
    <!-- close btn -->
    <button class="round-btn panel-btn" (click)="toggleSidebarOpen(SidebarName.addAwb)">
        <mat-icon class="small-close-btn" svgIcon="close-white-icon" aria-hidden="false"></mat-icon>
    </button>
    <!-- soc-wrap -->
    <div class="soc-wrap" fxLayout="column" fxLayoutAlign="end center">
        <button class="round-btn">
            <mat-icon svgIcon="soc-icon" aria-hidden="false"></mat-icon>
        </button>
    </div>
</div>
<!-- End panel nav -->