
@import "src/@atlp/scss/variables";
.heavy-duty{.block-subtitle{
    margin-bottom: 16px;
    color: map-get($color,  'atlp-grey-base');
}
.Title-2{
    font-size: 18px;
     color: map-get($color,   'atlp-white');
     margin-bottom: 32px;
     margin-top: 35px;
}
.awesome-uploader{
    height: auto !important;
}
.block-title{
    margin-bottom: 8px !important;
}
.form-row-heavy-duty{
    .field-wrap ,.dropdown-col{
        @media screen and (max-width:959px){
            margin-bottom:12px
        }
    }
}
}