<div class="drawer-wrap voyage-details" fxFlex fxLayout="column" fxLayoutAlign=" none">
    <div class="drawer-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="drawer-info">
            <span class="drawer-title">Voyage: {{VoyageNumber}}</span>
            <p class="drawer-subtitle">
                <span class="bordered-subtitle">Vessel: {{vessel}}</span>
                <span> {{port}}</span>
            </p>
        </div>
    </div>
    <div class="drawer-body" fxLayout="column">
        <!-- general details -->
        <div fxLayout="row" fxLayoutAlign="start center" class="">
            <h2 class="block-section-title">GENERAL DETAILS</h2>
        </div>
        <form fxFlex="100" [formGroup]="inputNumberForm">
            <div fxLayout="row wrap" class="voyages-panel-row" fxLayoutGap="40px" fxLayoutGap.xs="0px"
                fxLayoutGap.sm="0px">
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Voyage No. IN</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.voyageNumberIn" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Voyage No. OUT</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.voyageNumberOut" required />
                    </div>
                </div>


                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">label</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" required />
                    </div>
                </div>


                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Voyage No. OUT</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="voyageDetails.voyageNumberOut" required />
                    </div>
                </div>
                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Master Name</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="voyageDetails.mastername" required />
                    </div>
                </div>

                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Shipping Line</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg"
                        [value]="voyageDetails.shippingLine">
                        <mat-option [value]="'BayLines'">
                            BayLines
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Local Voyage (IN)</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="voyageDetails.localVoyagein" required />
                    </div>
                </div>
                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Voyage No. OUT *</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="voyageDetails.localvoyageout" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Port</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="port" required />
                    </div>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Voyage Type</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg"
                        [value]="voyageDetails.voyageType">
                        <mat-option [value]="'BayLines'">
                            BayLines
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Terminal</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="voyageDetails.terminal" required />
                    </div>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Private Jetty</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="select">
                        <mat-option [value]="'BayLines'">
                            BayLines
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Vessel</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" required />
                    </div>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Services</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg"
                        [value]="voyageDetails.services">
                        <mat-option [value]="'Middle East Express'">
                            Middle East Express
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                    </mat-select>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">IMO</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" [value]="voyageDetails.imo">
                        <mat-option [value]="'98657533'">
                            98657533
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Flag</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" required />
                    </div>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Official No</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="Select">
                        <mat-option [value]="'98657533'">
                            98657533
                        </mat-option>
                        <mat-option [value]="'98657535'">
                            98657535
                        </mat-option>
                    </mat-select>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Call Sign</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="Select">
                        <mat-option [value]="'98657533'">
                            98657533
                        </mat-option>
                        <mat-option [value]="'98657535'">
                            98657535
                        </mat-option>
                    </mat-select>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Special Movement</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="Select"
                        [value]="voyageDetails.specailmovement">
                        <mat-option [value]="'No'">
                            No
                        </mat-option>
                        <mat-option [value]="'yes'">
                            yes
                        </mat-option>
                    </mat-select>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Security Level</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="Select"
                        [value]="voyageDetails.securityLevel">
                        <mat-option [value]="'1'">
                            1
                        </mat-option>
                        <mat-option [value]="'2'">
                            2
                        </mat-option>
                    </mat-select>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Last Port</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="Select"
                        [value]="voyageDetails.lastPort">
                        <mat-option [value]="'Khor Al phakkan'">
                            Khor Al phakkan
                        </mat-option>
                        <mat-option [value]="'2'">
                            2
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Departure Date</label>
                    <div class="field-input-wrap">
                        <input placeholder="Choose a date" [matDatepicker]="picker" (focus)="picker.open()" readonly
                            required />
                        <mat-icon svgIcon="data-icon-white" aria-hidden="false"></mat-icon>
                    </div>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="dropdown-col bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="dropdown-label">Next Port</label>
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="Select"
                        [value]="voyageDetails.nextPort">
                        <mat-option [value]="'Khor Al phakkan'">
                            Khor Al phakkan
                        </mat-option>
                        <mat-option [value]="'2'">
                            2
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Departure Date</label>
                    <div class="field-input-wrap">
                        <input placeholder="Choose a date" [matDatepicker]="picker2" (focus)="picker2.open()" readonly
                            required />
                        <mat-icon svgIcon="data-icon-white" aria-hidden="false"></mat-icon>
                    </div>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
            <div fxLayout="row wrap" class="new-voyage-section" fxLayoutGap="40px" fxLayoutGap.xs="0px"
                fxLayoutGap.sm="0px">

                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">ETA</label>
                    <div class="field-input-wrap">
                        <input placeholder="Choose a date" [matDatepicker]="eta" (focus)="eta.open()" readonly
                            required />
                        <mat-icon svgIcon="data-icon-white" aria-hidden="false"></mat-icon>
                    </div>
                    <mat-datepicker #eta></mat-datepicker>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">ATA</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="voyageDetails.ata" required />
                    </div>
                </div>
                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">ETB</label>
                    <div class="field-input-wrap">
                        <input placeholder="Choose a date" [matDatepicker]="etb" (focus)="etb.open()" readonly
                            required />
                        <mat-icon svgIcon="data-icon-white" aria-hidden="false"></mat-icon>
                    </div>
                    <mat-datepicker #etb></mat-datepicker>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">ATD</label>
                    <div class="field-input-wrap">
                        <input type="text" placeholder="placeholder" [value]="voyageDetails.atd" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Berth</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Bow Bolland N</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Berth Slide</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Stern Bolland N</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="40px" fxLayoutGap.xs="0px" fxLayoutGap.sm="0px"
                fxLayoutAlign="start center">
                <mat-checkbox class='light-purple-select bg check-box-row' fxFlex="20" fxFlex.xs="100" fxFlex.sm="100">
                    Loading Operations
                </mat-checkbox>
                <atlp-number-input Inputid="loading_operations" label="Loading Operations" fxFlex="20" fxFlex.xs="100"
                    fxFlex.sm="100">
                </atlp-number-input>


                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Berth Status</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Loading Unit</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="40px" fxLayoutGap.xs="0px" fxLayoutGap.sm="0px"
                fxLayoutAlign="start center">
                <mat-checkbox class='light-purple-select bg check-box-row' fxFlex="20" fxFlex.xs="100" fxFlex.sm="100">
                    Discharge Operations
                </mat-checkbox>
                <atlp-number-input Inputid="discharge_operations" label="Discharge Operations" fxFlex="20"
                    fxFlex.xs="100" fxFlex.sm="100">
                </atlp-number-input>

                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Discharge Unit</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="40px" fxLayoutGap.xs="0px" fxLayoutGap.sm="0px"
                fxLayoutAlign="start center">
                <mat-checkbox class='light-purple-select bg check-box-row' fxFlex="20" fxFlex.xs="100" fxFlex.sm="100">
                    Cargo Operations
                </mat-checkbox>
                <div class="field-wrap bg" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Actual Draft</label>
                    <div class="field-input-wrap">
                        <input type="text" required />
                    </div>
                </div>

            </div>
            <div class="remarks-row" fxlayout="row wrap" fxLayoutAlign="start center" fxLayoutGap.xs="0px"
                fxLayoutGap.sm="0px" fxLayoutGap="40px">
                <div class="field-wrap bg" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Remarks</label>
                    <div class="field-input-wrap">
                        <textarea required placeholder="Write your remarks here"></textarea>
                    </div>
                </div>
            </div>
        </form>


        <!-- Custom Voyage Number -->
        <div fxLayout="row" fxLayoutAlign="start center" class="new-voyage-section">
            <h2 class="block-section-title">Custom Voyage Number</h2>
        </div>
        <form fxFlex="100" [formGroup]="inputNumberForm">
            <div fxLayout="row wrap" class="voyages-panel-row" fxLayoutGap="40px" fxLayoutGap.xs="0px"
                fxLayoutGap.sm="0px">

                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Import Voyage N</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.voyageNumber" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Transit In Voyage N</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.TransitN" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Export Voyage N</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.ExportN" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Transit Out Voyage N</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.transitoutVN" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Re-Export Voyage N</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.reexport" required />
                    </div>
                </div>
                <div class="field-wrap bg disabled" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column">
                    <label for="#" class="field-label">Temp Import Voyage N</label>
                    <div class="field-input-wrap">
                        <input type="text" [placeholder]="voyageDetails.tempImport" required />
                    </div>
                </div>
            </div>
        </form>

        <!-- cargo agents -->
        <div fxLayout="row" fxLayoutAlign="start center" class="new-voyage-section">
            <h2 class="block-section-title">CARGO AGENTS</h2>
            <mat-icon class="info-icon" svgIcon="info-icon" aria-hidden="false"></mat-icon>
        </div>
        <div fxLayout="row wrap" class="voyages-panel-row">
            <atlp-key-value-column fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" key="Cargo Agent" value="Cargo Agent">
            </atlp-key-value-column>
            <atlp-key-value-column fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" key="Import Manifest" value="-">
            </atlp-key-value-column>
            <atlp-key-value-column fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" key="Discharge List" value="-">
            </atlp-key-value-column>
            <atlp-key-value-column fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" key="Loading List" value="-">
            </atlp-key-value-column>
        </div>
        <div fxFlex="100" class="voyages-button-row">
            <button mat-raised-button class="icon light-purple">
                <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>Add New
            </button>
        </div>

        <!-- other agents -->
        <div fxLayout="row" fxLayoutAlign="start center" class="new-voyage-section">
            <h2 class="block-section-title">Other agents</h2>
            <mat-icon class="info-icon" svgIcon="info-icon" aria-hidden="false"></mat-icon>
        </div>
        <div fxLayout="row wrap" class="voyages-panel-row">
            <atlp-key-value-column fxFlex="30" fxFlex.xs="100" fxFlex.sm="100" key="Agent" value="Sonail Peter">
            </atlp-key-value-column>
            <atlp-key-value-column fxFlex="30" fxFlex.xs="100" fxFlex.sm="100" key="Type" value="-">
            </atlp-key-value-column>
        </div>
        <div fxFlex="100" class="voyages-button-row">
            <button mat-raised-button class="icon light-purple">
                <mat-icon svgIcon="plus-white" aria-hidden="false"></mat-icon>Add New
            </button>
        </div>
    </div>
</div>



<div class="panel-nav" fxLayout="column" fxLayoutAlign="space-between center">
    <!-- close btn -->
    <button class="round-btn panel-btn" (click)="toggleSidebarOpen(SidebarName.voyageDetails)">
        <mat-icon class="small-close-btn" svgIcon="close-white-icon" aria-hidden="false"></mat-icon>
    </button>
    <!-- soc-wrap -->
    <div class="soc-wrap" fxLayout="column" fxLayoutAlign="end center">
        <button class="round-btn">
            <mat-icon svgIcon="copy-icon" aria-hidden="false"></mat-icon>
        </button>
        <button class="round-btn">
            <mat-icon svgIcon="print-icon" aria-hidden="false"></mat-icon>
        </button>
        <button class="round-btn">
            <mat-icon svgIcon="download-icon" aria-hidden="false"></mat-icon>
        </button>
        <button class="round-btn danger-btn">
            <mat-icon svgIcon="delete-button" aria-hidden="false"></mat-icon>
        </button>
    </div>
</div>