<div class="drawer-wrap renominate" fxFlex fxLayout="column" fxLayoutAlign=" none">
    <div class="drawer-header" fxFlex fxLayout="row" fxLayoutAlign.gt-xs="space-between center"
        fxLayoutAlign="space-between start">
        <div class="drawer-info">
            <span class="drawer-title">AWB Renominate</span>
        </div>
    </div>

    <div class="drawer-body">
        <div class="panel-body">
            <div fxLayout="row wrap" class="filter-row" fxLayoutAlign="start start" fxLayoutGap="12px">
                <atlp-search-bar fxFlex="50%" fxFlex.gt-xs="30%" class="search-bar-bg" (input)="search($event)">
                </atlp-search-bar>
                <div class="dropdown-col bg" fxFlex fxLayout="column" fxFlex.gt-xs="25%" fxFlex="40%">
                    <mat-select class="dropdown-select bg" panelClass="panel-custom bg" placeholder="Filters">
                        <mat-option [value]="'Filter 1'">
                            Filter 1
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="appointment-driver">
                <div *ngFor="let item of renominateData; index as i" class="appointment-info-row" fxLayout="row wrap"
                    fxLayoutAlign.gt-xs="space-between center" fxLayoutAlign="space-between start">
                    <div class="appointment-info-col" fxFlex="10%" fxFlex.gt-xs="5%" fxLayout="row"
                        fxLayoutAlign="start center">
                        <mat-checkbox class="bg"></mat-checkbox>
                    </div>
                    <div class="appointment-info-col" fxFlex="45%" fxFlex.gt-xs="34%">
                        <span class="appointment-title">Agent</span>
                        <span class="appointment-text">{{item.Agent}}</span>
                    </div>
                    <div class="appointment-info-col" fxFlex="45%" fxFlex.gt-xs="17%">
                        <span class="appointment-title">LOREM IPSUM</span>
                        <span class="appointment-text">{{item.LOREM_IPSUM}}</span>
                    </div>
                    <div fxFlex="10%" fxFlex.gt-xs="0%">

                    </div>
                    <div class="appointment-info-col padding-xs" fxFlex="45%" fxFlex.gt-xs="30%">
                        <span class="appointment-title">CHARGES description</span>
                        <span class="appointment-text">{{item.CHARGES_description}}</span>
                    </div>
                    <div class="appointment-info-col" fxFlex="45%" fxFlex.gt-xs="14%">
                        <span class="appointment-title">UNIT PRICE</span>
                        <span class="appointment-text">{{item.UNIT_PRICE}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- panel-nav -->
<div class="panel-nav" fxLayout="column" fxLayoutAlign="space-between center">
    <!-- close btn -->
    <button class="round-btn panel-btn" (click)="toggleSidebarOpen(SidebarName.awb)">
        <mat-icon class="small-close-btn" svgIcon="close-white-icon" aria-hidden="false"></mat-icon>
    </button>
    <!-- soc-wrap -->
    <div class="soc-wrap" fxLayout="column" fxLayoutAlign="end center">
        <button class="round-btn">
            <mat-icon svgIcon="soc-icon" aria-hidden="false"></mat-icon>
        </button>
    </div>
</div>